<div>
     <strong>Song Title:</strong> <%= @song.title %>
</div>
<div>
     <strong>Released ?</strong> <%= "Yes" if @song.released %>
</div>
<div>
     <strong>Release Year:</strong> <%= @song.release_year %>
</div>
<div>
     <strong>Artist Name:</strong> <%= @song.artist_name %>
</div>
<div>
     <strong>Genre:</strong> <%= @song.genre %>
</div>

